{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<main>
  <section>
    <form action="">
      <div class="form">
        <div>
          <h2 class="form__title">Успешное выполнение</h2>
          <h2 class="form__title">Товар был удален успешно</h2>
        </div>
        <button class="form__button">Вернуться назад</button>
      </div>
    </form>
  </section>



</main>




{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}