<div class="main">
  <div>
    <h2>Успешное действие</h2>
    <h5 class="title"> {{info}} </h5>
  </div>
  <a href="/product-list"><button class="form__button btn btn-primary">Вернуться назад </button></a>
</div>